<div class="loginStatus">
    <label id='loginText'>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.Raw("Welcome " + User.Identity.Name + "!<br />")
    }
    </label>  
    @if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Logout", "Login", new { area = "" }, null)" id="logoutButton" class="loginButton">Logout</a>
    }
    else
    {
        <a href="" id="loginButton" class="loginButton">login</a>
    }
</div>
@if (!User.Identity.IsAuthenticated) {
    <div class="loginForm">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "login" }))
        {
            @Html.TextBox("inputLogin", "", new { @class = "loginInput" })<br />
            @Html.Password("inputPassword", "", new { @class = "loginInput" })<br />
        
            <a href="@Url.Action("Authenticate", "Login", new { area = "" }, null)" id="submit">Submit</a>
        }
    </div>
}
