@using Web.Infrastructure.Assets
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>CHANGE THIS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        @Html.RenderAssetPackage(AssetPackage.MainStylePackage)
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
        @Html.RenderAssetPackage(AssetPackage.MainScriptPackage)
    </head>
    <body>

        @Html.Partial("Header")
        <div class="body container">
            <div class="lefty">
                @RenderBody()
            </div>
            <div class="righty">
                @Html.Partial("Social")
            </div>
        </div>
        @Html.Partial("Footer")
        
    </body>
</html>